* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slategray;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 100px;
}

.f5-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.img-container-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 100px;
}

.buton-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    object-fit: cover;
    vertical-align: middle;
    overflow: hidden;
    max-width: 500px;
    height: 300px;
    border-radius: 6%;
}

button {
    margin-top: 20px;
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

button:hover {
    letter-spacing: 0.2rem;
    background: var(--clr);
    color: var(--clr);
    animation: box 3s infinite;
}

button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

button span {
    position: relative;
    z-index: 1;
}
button i {
    position: absolute;
    inset: 0;
    display: block;
}

button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }
    50% {
        box-shadow: 0 0 25px var(--clr);
    }
    100% {
        box-shadow: #27272c;
    }
}

@media (max-width: 1200px) {
    .img-container-main {
        flex-direction: column;
        gap: 50px;
    }

    .container {
        justify-content: center;
        margin-left: 0;
    }

    img {
        max-width: 320px;
        height: 220px;
    }
}
